* {
    margin: 0;
    padding: 0;
    
}


:root {
    font-family: 'Inter', sans-serif;
    color: #FFF;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 18px;
}

body {
    font-size:  16px;
}

div h2 {
    margin-bottom: 25px;
}

.subtext {
    font-size: 14px;
    color: #E5E5E5;
}

.subsubtext {
    font-size: 12px;
    color: #E5E5E5;
}

/* ================ NAV ================ */

nav {
    color: #FFF;
    background-color: #1F1D2C;
    position: relative;
    /* text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end; */
    padding: 20px 30px 0px;
    text-align: right;
}

nav span {
    position: relative;
    z-index: 99;
}

nav span a svg.hamburger-me:hover {
    stroke:#F1A600;
}

#nav-container {
    display: none;
    text-align: center;
}

#nav-container ul li {
    list-style: none;
    padding: 10px 20px;
}

#nav-container ul li a {
    text-decoration: none;
    color: #FFF;
    position: relative;
    z-index: 99;

    /*padding: 5px 0;*/
}

#nav-container ul li a:hover {
    color: #1F1D2C;
    background-color: #F1A600;
} 


.square-bg-top {
    position: absolute;
    background-color: #242635;
    width: 65vw;
    height: 75vw;
    top: 0;
    right: 0;
}

/* ================ CONTENT ================ */

#content {
    background-color: #1F1D2C;
    padding: 20px 30px 40px;
}

.container {
    height: 50vw;
    width: 100%;
    position: relative;
}

#content h1 {
    position: relative;
    z-index: 99;
}
#content img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
 
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.intro {
    font-size: 20px;
    margin-bottom: 18px;
}

.intro-sub {
    font-size: 16px;
}

.info p.intro-sub {
    margin-bottom: 18px;
}

.social-icons span {
    margin-right: 15px;
}

.social-icons span svg:hover {
    fill: black;
}

/* ================ ABOUT ================ */

#about {
    background-color: #242635;
    padding: 40px 30px;
    text-align: center;
}

.schools {
    display: flex;
    justify-content: space-around;
    /* gap: 65px; */
    margin-top: 25px;
}

#about figure img {
    height: 65px;
    margin-bottom: 10px;
    margin-top: 15px;
}

/* ================ EXPERIENCE ================ */

#experience {
    background-color: #1F1D2C;
    padding: 40px 30px;
    text-align: center;
}

.jobs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    align-items: center;
    border-right: solid 2px #F1A600;
    position: relative;

}

.jobs div, .jobs h3, .jobs p {
    text-align: left;
} 

.square-timeline-top {
    background-color: #F1A600;
    width: 20px;
    height: 15px;
    position: absolute;
    right: -10px;
    top: 15px;
}

.square-timeline-top {
    background-color: #F1A600;
    width: 20px;
    height: 15px;
    position: absolute;
    right: -10px;
    top: 35px;
}

.square-timeline-center {
    background-color: #F1A600;
    width: 20px;
    height: 15px;
    position: absolute;
    right: -10px;
    
}

.square-timeline-bottom {
    background-color: #F1A600;
    width: 20px;
    height: 15px;
    position: absolute;
    right: -10px;
    bottom: 35px;
    
}
/* ================ SKILLS ================ */

#skills {
    background-color: #1F1D2C;
    padding: 40px 30px;
    text-align: center;
    position: relative;
}

#skills h2 {
    position: relative;
}

.square-bg {
    position: absolute;
    background-color: #242635;
    width: 43%;
    height: 100%;
    top: 0;
    left: 0;
}

.skills-list {
    display: flex;
    align-items: baseline;

    flex-wrap: wrap;
    position: relative;
}

.percentage {
    color: #F1A600;
}

.skill-item {
    text-align: left;
}

/* ================ PORTFOLIO ================ */

#portfolio {
    background-color: #1F1D2C;
    padding: 40px 30px;
    text-align: center;
}

#portfolio h2 {
    margin-bottom: 35px;
}

.works {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}

.works figure img {
    width: 100%;
    box-shadow: 7px -12px #F1A600, -7px -12px #F1A600;
}

#portfolio figure figcaption {
    text-align: left;
    margin-top: 10px;
}

.img-right {
    position: relative;
    right: calc(30px - 30%);
}
/* ================ CONTACT ================ */

#contact {
    background-color: #242635;
    padding: 40px 30px;
    text-align: center;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
}

.email {
    position: relative;
    top: 30px;
    margin-bottom: 30px;
}

/* ================ FOOTER ================ */

footer {
    background-color: #1F1D2C;
    padding: 40px 30px;
    text-align: center;
}

/* ================ LAYOUT ================ */

/*
.row {
    display: flex;
}
*/
.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-8 {
    width: 66.66%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-5 {
    width: 41.66%;
}

.col-7 {
    width: 58.33%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}



@media (min-width: 768px) {

    h1 {
        font-size: 75px;
        margin-bottom: 10px;
    }
    
    h2 {
        font-size: 45px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    body {
        font-size:  20px;
    }
    
    div h2 {
        margin-bottom: 25px;
    }
    
    .subtext {
        font-size: 18px;
        color: #E5E5E5;
    }
    
    .subsubtext {
        font-size: 16px;
        color: #E5E5E5;
    }

    /* ================ NAV ================ */

    nav {
        padding: 50px 90px 0px;
    }

    /* ================ CONTENT ================ */

    #content {
        padding: 40px 90px 80px;
        
    }

    .intro {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .info p.intro-sub {
        margin-bottom: 25px;
    }

    .intro-sub {
        font-size: 24px;
    }
    
    .icon-size {
        width: 32px;
        height: 32px;
    }
    /* ================ ABOUT ================ */

    #about {
        padding: 80px 90px;
    }

    #about figure img {
        height: 80px;
    }

    /* ================ EXPERIENCE ================ */

    #experience {
        padding: 80px 90px;
    }

    /* ================ SKILLS ================ */

    #skills {
            padding: 80px 90px;
    }

    /* ================ PORTFOLIO ================ */

    #portfolio {
        padding: 80px 90px;
    }

    .works {
        row-gap: 70px;
    }
    /* ================ CONTACT ================ */

    #contact {
        padding: 80px 90px;
    }

    /* ================ FOOTER ================ */

    footer {
        padding: 80px 90px;
    }
}


@media (min-width: 992px) {
    
    body {
        background-color: #1F1D2C;
    }

    h1 {
        font-size: 100px;
        margin-bottom: 10px;
    }

    /* ================ NAV ================ */

    .square-bg-top {
        width: calc(992px * 0.65);
        height: calc(992px * 0.70);
        /* right: calc(992px * 0.75); */
        right: calc((100vw - (992px + 90px + 90px))/2);

    }

    nav span a.icon {
        display: none;
    }

    #nav-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 992px;
        margin: auto;
    }

    #nav-container ul li {
        display: inline-block;
    }

    #nav-container ul li a:hover {
        color: #F1A600;
        background-color: transparent;
    } 

    /* ================ CONTENT ================ */

    #content {
        max-width: 992px;
        margin: auto;
        padding: 40px 90px 80px;
    }
    
    .container {
        height: 600px;
    }

    .intro {
        font-size: 42px;
        margin-bottom: 30px;
    }

    .info p.intro-sub {
        margin-bottom: 30px;
    }

    .intro-sub {
        font-size: 32px;
    }

    .icon-size {
        width: 35px;
        height: 35px;
    }

    .social-icons span {
        margin-right: 24px;
    }

    /* ================ ABOUT ================ */

    #about {
        max-width: 992px;
        margin: auto;
    }

    .schools {
        width: 60%;
        margin: 25px auto 0;
    }

    /* ================ EXPERIENCE ================ */

    #experience {
        max-width: 992px;
        margin: auto;
    }

    .jobs {
        width: 80%;
        margin: 0 auto;
    }


    /* ================ SKILLS ================ */

    #skills {
        max-width: 992px;
        margin: auto;
    }

    
    /* ================ PORTFOLIO ================ */

    #portfolio {
        max-width: 992px;
        margin: auto;
    }

    

    .img-right {
        left: calc(992px - (992px * 0.5833));
    }

    /* ================ CONTACT ================ */

    #contact {
        max-width: 992px;
        margin: auto;
    }

    .contacts {
        width: 60%;
        margin: 25px auto 0;
    }

    .email {
        top: 0;
        margin-bottom: 0;
    }

    .contact-icon-size {
        width: 60px;
        height: 60px;
    }

    /* ================ LAYOUT ================ */

    .col-l-6 {
        width: 50%;
    }

    .col-l-4 {
        width: 33.33%;
    }

    .col-l-8 {
        width: 66.66%;
    }

    .col-l-1 {
        width: 8.33%;
    }

    .col-l-2 {
        width: 16.66%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-5 {
        width: 41.66%;
    }

    .col-l-7 {
        width: 58.33%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33%;
    }

    .col-l-11 {
        width: 91.66%;
    }

    .col-l-12 {
        width: 100%;
    }

}